/* select what is affected by the css style */

:root {
	--clr-primary-400: hsl(228, 39%, 23%);
	--clr-accent-400: hsl(12, 88%, 59%);
	--clr-accent-100: hsl(13, 100%, 96%);
	--clr_neutral-100: hsl(232, 12%, 13%);
	--clr-neutral-900: hsl(0, 0%, 0%);

	--ff-primary: Roboto, sans-serif;

	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fw-primary:  100;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font:  inherit;
}

/* ======== PARAGRAPH STYLE ========= */
p {
	color: #666FFF;
	margin-top: 0px;
}


div {
}

/* ---- Link Style Definitions ---- */
a {
	color: #FFF;
	text-decoration: none;
}

a:hover{
	color: #555;
}

a:visited{

}

a:focus{

}

/* ----- Class Style Definitions ----- */
.title{
	font-size: 50px;
}
.primary_header {
	background-color: #334d4d;
	background-image: url(../images/very_first.jpg);
	background-size: cover;
	background-position: center;
	background-position-y: -250px;
	background-position-x: 0px;
	background-repeat: no-repeat;
	padding: 20px;
}

.title {
	text-align:  left;
	color: #666FFF;
}

.motto {
	color: #FFF;
}

.navigation {
	background-color: #000;
}

/* ------ Span Style Definition ----- */
span {
	color:yellow;
}

/* ------ CSS Box Model ----- */
/* Margin, Border, Padding */ 
.nav_box {
	background-color: #334d4d;
	width: 150px;

	margin_left: 0px;
	margin_right:;
	margin_top:;
	margin_bottom: 5px;

    /* Can do border left, right, top, bottom or all (no declaration) */
	border-width: 5px;
	border-color: #005;
	border-style: solid; /* solid, dashed, dotted, double, goove, hidden, ridge */

	padding: 10px;
}

html:focus_within {
	scroll-behavior: smooth;
}

html,
body {
	height:  100%;
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Utility Classes */

.container{
	--max-width: 1110px;
	--padding: 1rem;

	width: min(var(--max-width), 100% - (var(--padding)*2);
	margin-inline: auto;
}

.even_columns {
	display: grid;
	gap: 1rem;
}

@media (min-width: 50em) {
	.even_columns {
		grid-auto-flow: column;
	}
}

/* General Stylings */
/* ======== BODY STYLE ========= */
body {
	font-size: var(--fs_primary);
	background-color: ghostwhite;
	color: var(--clr-primary-400);
	font-family: Calibri;
}